/* базовые насстройки */
body {
    margin: 0;
    font-family: sans-serif;
    color: rgb(4, 43, 70);
}

h2 {
    margin: 0;
}

/* карточки */
.container {
    background-color: rgb(245, 142, 105);
    min-height: 100vh; /* мин высота */
    padding: 50px; /* отступы, margin нельзя использовать */
    box-sizing: border-box; /* задает размер контента вместе с падингами */
    display: grid; /* сеточка */
    grid-template-columns: repeat(4, 1fr); /* 4 карточки в ряд с одинак рас */
    align-content: flex-start; /* выравнивание по верхней части */
    gap: 50px; /* расстояние меж карточками */
}

.card {
    background-color: rgb(204, 195, 195);
    height: 150px; /* высота карточки */
    padding: 10px;
    text-align: absolute;
    bottom: 0; /* выравнивание текста */
    position: relative; /* для сердечка */
    border-radius: 8px;
    background-image: url(https://mobimg.b-cdn.net/v3/fetch/25/25226515c9fe72ab7a2c45a72f9283c3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* по размеру карточки */
    overflow: hidden; /* убрать все выпадающие из карточки части */
    display: flex;
    flex-direction: column; /* сверху вниз */
    justify-content: center;
    box-shadow: 0 0 15px coral, 0 0 15px black; /* тень и контур */
}

.default {
    background-image: url(images/cat_black.png);
    background-size: contain;
}

.card::before { /* исправить темный текст на фоне путем псевдокласса */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c97c4940; /* последние 2 цифры прозрачность фона */
}

.card>* { /* для тегов span & h3 */
    position: relative;
}

.card__like { /* сердечко лайка */
position: absolute;
top: 8px;
right: 8px;
color: crimson;
cursor: pointer; /* при наведении мыши меняет курсор */
}

.card h2 {
    margin-bottom: 5 px; /* расстояние меж строк */
}
